<!DOCTYPE html>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#loaded_image')
                .attr('src', e.target.result)
                .width(30%)
                .max-width(200);
                .alight(right);
        };
        reader.readAsDataURL(input.files[0]);
    }
}
</script>
<div class="wrapper">
    {% include 'header.html' %}
 <div class="container">
    <h2>Edit Item</h2>
    <form role="form" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="item" value="{{item.name}}">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" name="file" accept="image/*" onchange="readURL(this);">
            <img id="loaded_image" src="{{url_for('uploaded_file',filename=item.image)}}" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description">{{item.description}}</textarea>
            <!-- <input type="text" class="form-control" name="description" value="{{item.description}}"> -->
        </div>
        <div class="list">
            <label>Category</label>
            <select class="form-control" name="category">
                {% for category in categories %}
                    {% if category.name == category_name %}
                        <option value="{{item.category_id}}" selected>{{category_name}}</option>
                    {% else %}
                        <option value="{{category.id}}">{{category.name}}</option>
                    {% endif %}
               {% endfor %}
            </select>
            <br>
        </div>
        <button type="submit" value="edit_item" class="btn btn-default">Submit</button>
        <a href="{{url_for('catalog')}}">Cancel</a>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    </form>
 </div>
 <div class="push"></div>
</div>
{% include 'footer.html' %}
</body>
</html>